<!DOCTYPE html>
<html>
<head>
    <style>
      table {
        width: 100%;
        border: 1px solid #444444;
        border-collapse: collapse;
      }
      th, td {
        border: 1px solid #444444;
        padding: 10px;
        text-align: center;
      }

      #tr_hover:hover { 
        background-color:#E6E6E6;
      }

    </style>
</head>
<body>

<h1> <%= @title %> </h1>
<p> *매출액이 없는 날짜는 기록되지 않습니다. </p>

<table border = "1">
    <tr>
        <th>날짜</th>
        <th>매출</th>
    </tr>
    
    <% @datas.each do |date, revenue| %>
        <tr id = "tr_hover"> 
             <td> <%= date %> </a> </td> 
             <td> <%= revenue %> </td> 
        </tr>
    <% end %>
</table>

</body>
</html>